.text-4xl.text-center.italic.font-bold.mt-5
  = @event.title
.text-center.text-gray-600.mt-5
  = @event.desc
.text-center.text-2xl.mt-5
  = @event.date
.text-blue-600.text-center.mt-10
  = link_to "< Back", "javascript:history.back()", class: "hover:underline"